
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>About This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li  class="active"><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron", style="text-align:center">
      	<h1 style="font-size:50px;">  Accountability  </h1> 
		<h3> <font color = "#4e5a68"> Acknowledgemend </font> </h3>
     	<p> Data Source: <a href = "https://www.kaggle.com/c/bike-sharing-demand/data"> https://www.kaggle.com/c/bike-sharing-demand/data </a></p>
      </div>
    
    
    <div class="page-header">
        <h1> <font color = "#4e5a68"> Source of Dataset </font> </h1>
        <p><font size = "4" face="verdana" color="#5f5f5f"> 
        
        The dataset is released by Kaggle, who hosted a competition for the machine learning community to forecast the use of a city bikeshare system in Washington, D.C. 
        The source data comes from <a href = https://www.capitalbikeshare.com/system-data > Capital Bikeshare </a>. 
        </font></p>
    </div>
    

    <div class="page-header">
        <h1> <font color = "#4e5a68"> Accessibility of the Dataset </font> </h1>
        <p><font size = "4" face="verdana" color="#5f5f5f"> The dataset released by Kaggle is open-source and available to the public on Internet. Kaggle requires the users to sign in to obtain the data, but Capital Bikeshare's official site also provides free downloadable files of the trip data.  </font></p>
        
    </div>
    
    
    <div class="page-header">
        <h1> <font color = "#4e5a68"> Summary of the Dataset </font> </h1>
        <p><font size = "4" face="verdana" color="#5f5f5f"> 
        The dataset contains data points taken on 731 days in 2011 and 2012. The variable of interest is the count of total bike rentals each day, and most related data fields include </br>
        </br>
        <b> date </b>  - Year, Month, and Day  </br>
		<b> season </b> -  1 = spring, 2 = summer, 3 = fall, 4 = winter </br>
		<b> holiday </b>  - whether the day is considered a holiday </br>
		<b> workingday </b> - whether the day is neither a weekend nor holiday </br>		 
	    <b> weather </b>  - 1 = Clear / Partly cloudy, 2 =  Mist, 3 = Light rain/ snow, 4 = Heavy rain /snow </br>
	    <b> temperature </b> - temperature in Celsius </br>
	    <b> feeling temperature </b> - feeling temperature in Celsius </br>	    
		<b> humidity </b> - relative (normalized) humidity </br>
		<b> windspeed </b> - normalized wind speed </br>
		<b> registered </b> - number of registered user rentals initiated </br>		
		</font></p>
    </div>
        

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
